@import "tailwindcss";

@theme {
 
  --color-faith-dark: #080519;    /* Le noir du "FAITH" */
  --color-faith-orange: #FF8C52;  /* Le orange du "CODE" */
  --color-faith-blue: #8294FF;    /* Le bleu du "T" et "E" */
  --color-faith-pink: #8C3CFF;    /* Le mauve/rose du "C" et "H" */
  --color-faith-light: #F3F4F6;   /* Gris clair pour les fonds */
  --color-faith-mid: #1A0847;
  --color-faith-violet:#D264FF;
  --color-faith-magenta:#DC32FF;

  --background-image-hero: url('./src/assets/Dev.jpg');
  --font-sans: "Inter", ui-sans-serif, system-ui;
}

body {
  background-color: var(--color-faith-dark);
  color: white; 
}